/* Menus */
ul#uvcobjectmenu,
ul#uvcsite-addmenu {
 float: right;
}

ul#navigation {
 margin-bottom: 0px;
}

div#uvc-inner-body {
 margin-top: 20px;
}

/* Fields */
#form-field-titel {
 width: 300px;
}

#form-field-punktzahl,
#form-field-nr, 
#form-field-plz {
 width: 4em;
}

#form-field-ende,
#form-field-beginn,
#form-field-geburtsdatum {
 width: 6em;
}

textarea {
 width: 45em;
 height: 10em;
}

/* MISC */

.collapse {
 padding-left: 2em;
 padding-right: 2em;
}

.portlet {
  background-color: #EFEFEF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 39px 19px 14px;
  position: relative;
}

.portlet:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Informationen";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
