#page .css-panes h1 {
  font-size: 1.6em;
  margin: 1em 0;
}

/* Formlib Errors */
.right-col form span.error {
    color:#B30B16;
    font-size:10px;
    font-weight:bold;
}

.right-col {
  width: 100%;
  margin: 0;
  padding: 1em 0;
  float: none;
}

.right-col {
  width: 100%;
  margin: 0;
  padding: 1em 0;
  float: none;
}

.right-col .css-panes {
  padding-top: 1em;
}

#page {
  margin: 0 auto;
}

/* The Lenend in Fieldsets */

fieldset legend {
   color: #B30B16;    
   border: 1px solid #B30B16;
   background-color:#EFEFEF;
}

/* tooltip with jquery tools */



div.tooltip { 
    background-color:#000; 
    border:1px solid #fff; 
    padding:10px 15px; 
    width:200px; 
    display:none; 
    color:#fff; 
    text-align:left; 
    font-size:12px; 
 
    /* outline radius for mozilla/firefox only */ 
    -moz-box-shadow:0 0 10px #000; 
    -webkit-box-shadow:0 0 10px #000; 
}


/* Form Effects */

input:focus, textarea:focus, select:focus{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ddd;
  background: #f9f9f9;
}

input[type="submit"] {
    background-color:#B30B16;
    border:medium none;
    color:#FFFFFF;
    font-weight:bold;
    margin: 5px 0px 0px 0px;
    padding:2px 8px;
}

textarea {
    margin-top: 4px;
    border: 1px solid #4f4f4f;
}       
   

/* Table */

table.tablesorter {
  width: 100%;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #aaa;
  border-collapse: collapse;
  font-size: 90%;
  margin: 0.5em 0;
}

table.tablesorter td, table.tablesorter th {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #aaa;
  padding: 0.2em 0.5em;
  line-height: 1.5em;
  font-size: 0.8em;
}

table.tablesorter th {
  padding-left: 16px;
  font-weight: bold;
}

table.tablesorter thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(desc.gif);
}

table.tablesorter thead tr .checkBox {
  width: 1px;
}



/* Document Actions" */

.documentActions {
    float:right;
    margin:0.4em 0 0 0.5em;
    padding:0;
    text-align:right;
}

.documentActions ul {
    display:block;
    margin:1px 0 2px;
    padding:0;
}

.documentActions li {
    display:inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}

.right-col .documentActions ul li {
    line-height:1.5em;
    list-style-image:none;
    list-style-type:square;
    color:transparent;
}

/* Accordion */

#accordion {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#333333 url(h300.png) repeat scroll 0 0;
    border:1px solid #333333;
    width:700px;
}


#accordion h2.current {
    background-color:#FFFFFF;
    cursor:default;
}
#accordion h2 {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#CCCCCC url(h30.png) repeat scroll 0 0;
    border-color:#FFFFFF #FFFFFF #DDDDDD;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
    font-size:14px;
    font-weight:normal;
    margin:0;
    padding:5px 15px;
}

/* accordion pane */
#accordion div.pane {
    border:1px solid #fff;
    border-width:0 2px;
    display:none;
    height:180px;
    padding:15px;
    color:#fff;
    font-size:12px;
}

/* a title inside pane */
#accordion div.pane h3 {
    font-weight:normal;
    margin:0 0 -5px 0;
    font-size:16px;
    color:#999;
}


/* BREADCRUMB */
#breadcrumb {
    color:#6E6E6E;
    margin-left:10px;
    margin-top:5px;
    width:420px;
    font-size:11px
}

#breadcrumb a {
    text-decoration: none;
    color:#6E6E6E;
    font-weight:bold;
}
#breadcrumb a:HOVER {text-decoration: underline;}



/** Content actions tabs **/

#navigation dt {
  display: none;
}

dl#navigation,
dl#navigation dd {
  padding: 0;
  margin: 0;
}

dl#navigation a {
  color:  #999;
}

dl#navigation {
  font-size: 0.75em;
  line-height: 1.7em;
  margin: 1.5em 0 1em 0;
  padding-left: 2em;;
  border-bottom: 1px solid #cbcbcb;
  float: left;
  width: 925px;
  top: 140px;
  position: absolute;
}

dl#navigation ul {
  margin: 0 0 0 -0.25em;
  padding: 0 1em 0 0;
  text-align: left;
  list-style-type: none;
  text-indent: 0pt;
  border-collapse: collapse;
  line-height: 1.70em;
}

dl#navigation ul li {
  display: inline;
}

dl#navigation ul li.entry {
  height: 1.70em;
}

dl#navigation ul li a {
  text-decoration: none;
  margin-left: 3px;
  border-color: #cbcbcb #cbcbcb transparent #cbcbcb;
  border-width: 1px;
  border-style: solid;
  height: auto;
  margin-right: 0.5em;
  padding: 0.2em 1em;
  text-decoration: none;
}

dl#navigation ul li.selected a {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-bottom: 1px solid white;
  color: #333333;
  font-weight: bold;
}

.left-col {
  padding: 1em 0;
  margin: 0;
  display: none;
}

.left-col .box {
  margin: 0;
  padding: 0;
}


/* ----------- form ----------- */

#stylized {
  width: 900px;
}

#stylized .form-header {
  padding: 0 3em;
}

#stylized .formspace,
#stylized form {
  margin: 1em auto;
  width: 750px;
  border: 2px solid #ddd;
  background-color: #f4f4f4;
}

#stylized .viewspace {
  padding: 1em 2em;
}

#stylized h1 {
  margin: 0;
}

#stylized .row {
  clear: both;
  padding-top: 10px;
  margin: 0.5em 0;
}

div .error {
  display: block;
  font-weight: normal;
  font-size: 0.75em;
  background-color: transparent;
  color: #666;
}

div #stylized .row_error {
  background: white url(error.png) 1em 50% no-repeat;
  border: 1px solid #dddddd;
}

#stylized .row_error select,
#stylized .row_error textarea,
#stylized .row_error input {
  background-color: #fffad7;
}

div #stylized .error {
  clear: both;
  font-size: 0.8em;
  color: #990000;
  padding: 0.2em 0.3em;
  text-align: right;
}

#stylized label {
  float: left;
  display: block;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
  width: 250px;
}

.defaultview .formspace label {
  width: 350px !important;
}

#stylized label span.small {
  display: block;
  font-weight: normal;
  font-size: 0.75em;
  background-color: transparent;
  color: #666;
  margin: 0 0 0 50px;
  padding: 0;
}

#stylized span.required {
  display: none;
}

#stylized .widget {
  width: auto;
  float: left;
  margin-left: 25px;
  padding-top: 1em;
}

.defaultview .formspace .widget {
  padding-top: 0.6em !important;
}

.defaultview .formspace .widget span {
  font-size: 1.2em;
  display: block !important;
  width: 250px !important;
  padding: 0.2em 0.5em;
  color: #444;
  font-style: italic;
}

.defaultview .formspace span.required {
  display: block !important;
}


#stylized .colophon,
#stylized .buttons {
  clear: both;
  padding: 0 0 1em 0;
  text-align: center;
}

#stylized select,
#stylized textarea,
#stylized input {
  border-color: #aaa;
  width: 250px;
}

#stylized .date-widget {
  width: auto;
}

#stylized .status {
  padding: 0.3em 0;
  font-weight: bold;
}

#stylized .buttons input {
  background-color: #666;
  border: 1px solid #333;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: auto;
}


/* Dropdown menu */

dl.foldable {
  padding: 0.2em;
  float: right;
  width: 10em;
  font-size: 0.8em;
  margin: 3.5em 0 0 0;
}

dl.unfolding dt {
  background-color: #f9f9f9 !important;
}

dl.foldable dt {
  font-weight: bold;
  padding: 0.2em 0.4em 0.3em 0.4em;
  border: 1px solid #cbcbcb;
  color: #555;
}

dl.foldable dd {
  margin: 0;
  display: none;
  position: absolute;
  background-color: white;
  width: 10em;
}

dl.foldable dd ul { 
  list-style: none !important;
  margin: 0;
  padding: 0;
}

dl.foldable li {
  margin: 0;
  padding: 0;
  list-style: none !important;
}

dl.foldable li.selected a {
  color: #5aa1a9;
  font-style: oblique;
  background: #efefef url(selected.gif) 5px 0.5em no-repeat;
  padding: 0.2em 0.3em 0.2em 15px;
}

dl.foldable li a {
  padding: 0.2em 0.3em;
  display: block;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #cbcbcb;
  text-decoration: none !important;
  background-color: #f9f9f9;
}

dl.foldable li a img {
  vertical-align: middle;
}

dl.foldable li a:hover {
  color: #000;
  background-color: #ddd;
}

dl#footer dt {
    display: none;
}

#page-body {
    margin-bottom:2em;
    margin-left:0;
}
